<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MainPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <title>Sidebar menu</title>
</head>
<body id="body">
    <%- include('../partials/sidebar') %>
    <div class="company__container">
        <div class="company__info">
            <div class="company__title">
                <div class="company__pic">
                    <img src="/company_pp.jpg" class="company__pp" alt="">
                </div>
                <div class="company__name">
                    <p>Company Name</p>
                </div>
            </div>
        </div>
        <div class="company__details">
            <div class="detail">
                <h2 class="company_details_label">Owner Name Surname:</h2>
                <span class="company_details_value"><%= user.Firstname %> <%= user.LastName %></span>
            </div>
            <div class="detail">
                <h2 class="company_details_label">Email:</h2>
                <p class="company_details_value"><%= user.Email %></p>
            </div>
            <div class="detail">
                <h2 class="company_details_label">Username:</h2>
                <span class="company_details_value"><%= user.Username %></span>
            </div>
            <div class="detail">
                <h2 class="company_details_label">Password:</h2>
                <div class="password-container">
                    <input type="password" id="userPassword" class="company_details_value password-input" value="<%= user.Password %>" readonly>
                    <button class="toggle-password" onclick="togglePassword()">Show</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="company__info">
        <div class="company__title">
            <div class="company__pic">
                <img src="/company_pp.jpg" class="company__pp" alt="">
            </div>
            <div class="company__name">
                <p>Enva Medikal Sağlık Hizm. Tic. ve Ltd. Şti.</p>
            </div>
        </div>
    </div>
    <div class="company__details">
        <div>
            <h2 class="company_details_label">Owner Name:</h2>
            <span class="company_details_value"><%= user.Firstname %></span>
        </div>
        <div>
            <h2 class="company_details_label">Owner Surname:</h2>
            <span class="company_details_value"><%= user.LastName %> </span>
        </div>
        <div>
            <h2 class="company_details_label">Email:</h2>
            <p class="company_details_value"><%= user.Email %></p>
        </div>
        <div>
            <h2 class="company_details_label">Email:</h2>
            <p class="company_details_value"><%= user.Email %></p>
        </div>
    </div>
    <div>
        <div class=""></div>
        <div></div>
        <div></div>
    </div> -->
    <!-- MAIN JS -->
    <script src="/MainScript.js"></script>
</body>
</html>
